<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>
    <nav>
        <a href="/signup">Sign Up!</a>
        <a href="/login">Log In!</a>
    </nav>
    <h1>Welcome to Shia LaBook</h1>
    <h2><img src="https://media.giphy.com/media/7rj2ZgttvgomY/giphy.gif" alt="shia gif"> </h2>
</body>

</html>